* {
  margin: 0;
  padding: 0;
  border: 0;
  
}

nav {
  background-color: rgb(5, 75, 75);
}

body {
 
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #008B8B;
}

#home{
  margin-bottom: 20px;
  margin: 20px 05px;
}
.links{
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
}
.links label{
  padding: 10px 0;
  flex-grow: 1;
  cursor: pointer;
  transition: all .4s;
  text-align: center;
  font-size: 100%;
}
.links label:hover{
  background-color: rgba(212, 233, 233, 0.945);
}

.bloco{
  margin-left: 20px;
  align-items: center;
  
  display: grid;
}

#titulo-site {
  margin: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;
  font-weight: 40px;
  text-align: center;
}

#home {
  margin-right: 20px;
  margin: 10px;
  align-items: center;
  font-size: 20px;
  margin-left: 10px;
}
.img{
  text-align: center;
  margin-bottom: 10px;
}
#ukelele-img {
  
  height: 350px;
  width: 400px;
  border: solid 4px #fff;
  border-radius: 50px;
    margin-top: 10px;
}

.texto-link .linkss{
  color: black;
  width:  10px;
  margin-left: 10px 5px;
  
}

a  {
  color: #cee1e2;
}

a:hover{
  color: rgb(8, 29, 29);
}
#links a{
  color: #00868B;
}
#links {
  font-size: large;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  background-color: mintcream;
  color: #00868B;
  padding: 10px;
  left: 0;
  bottom: 0;
}

#forms {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 25px;
}


form {
  margin: 30px 0;
  
}

form label, form p {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  font-size: 0 0 20px;
  padding: 10px 25px;
  width: 40%;
}


.checkbox {
  margin: 20px 0;
}

.formEnvia {
  margin-top: 10px;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}

footer {
  margin-top: 05px;
  color: rgb(9, 64, 71);
  background-color: rgb(188, 228, 228);
  text-align: center;
  padding: 14px;
  display: block;
  bottom: 0;
  left: 0;
  
}